* {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.login-container {
  background-color: white;
  margin: 200px auto 120px auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.login-container h2 {
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.error {
  color: red;
  margin-bottom: 10px;
}
